/* Generales */
html * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
h1
{
    font-style: oblique;
    color: green;
}
/* Principal */
main {
  display: grid;

  font-family: sans-serif;
  height: 100vh;
  grid-gap: 2px;
  grid-template-areas:
      "cabecera cabecera cabecera"
      "infoizquierda inicio inicio"
      "infoizquierda sub1 sub2"
      "infoizquierda pie pie";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 2fr;


}
.principal > * {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cabecera {
  grid-area: cabecera;
  background-color:#f2dd4b;
}
.infoizquierda {
  grid-area: infoizquierda;
  background-color: rgb(149, 184, 240);
}
.inicio{
  grid-area: inicio;

  background-color: rgb(58, 187, 164);
}
.sub1{
  grid-area: sub1;
  background-color: rgba(222, 8, 8, 0.34);
}
.sub2{
  grid-area: sub2;
  background-color: rgba(222, 8, 8, 0.34);
}
.pie {
  grid-area: pie;
  background-color:#f2dd4b;
}
